@import '@/mixins.scss';

.home-page {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    justify-content: space-between;

    @include respond-to(large) {
        flex-direction: row;
    }
}

.title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    .title {
        background-color: #361f16;
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        mix-blend-mode: multiply;
        padding: 12px;
        border-radius: 5px;
        font-family: arial;
        font-size: 3em;
        margin: 0;
        opacity: 0.9;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 500;
        color: #db4a0c9c;
    }
}

.spinner-container {
    position: fixed;
    top: 3.6rem;
    left: 3.6rem;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.jokes-container {
    position: relative;
    flex: 1;
}
