@import '@/mixins.scss';

.joke {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    height: 80px;
    border: 1px solid;
    margin: auto auto 0.5rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #161b22da;
    border: 1px solid #434a51b0;
    color: #eceef1;
    text-align: left;

    @include respond-to(large) {
        max-width: 50vw;
    }

    .heart-button {
        padding: 4px;
        cursor: pointer;
        border: 1px solid;
        background-color: transparent;
        border: none;
        outline: none;

        svg {
            width: 1.4rem;
            height: 1.4rem;

            path {
                fill: rgb(118, 118, 118);
                transition: fill 0.3s ease-in-out;
            }
        }

        &:hover {
            svg {
                path {
                    fill: red;
                }
            }
        }
    }

    &.liked {
        .heart-button {
            svg {
                path {
                    fill: red;
                }
            }
        }
    }
}
