@import '@/mixins.scss';
// @keyframes fadeIn {
//     0% {
//         opacity: 0;
//         transform: translateY(-20px);
//     }
//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

.list-item {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);

    &.show {
        transform: rotateY(0);
        opacity: 1;
    }
}

.animated-list-item {
    > div {
        overflow: hidden;
        transform-origin: top;
    }
}
