@import '@/mixins.scss';
@import '@/variables.scss';

.navbar {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    background-color: $bg-color;
    color: #fff;
    mix-blend-mode: multiply;
    justify-content: center;

    font-size: 0.8rem;
    font-weight: 500;
    height: 2rem;

    @include respond-to(large) {
        font-size: 1.2rem;
        height: auto;
    }

    > ul {
        padding: 0;

        > li {
            display: inline-block;
            margin: 0 0.5rem;

            a {
                text-decoration: none;
                color: $foreground-color;

                transition: color 0.3s ease-in-out;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $primary-color;
                    transition: width 0.3s ease-in-out;
                }

                &:hover {
                    color: $primary-color;
                }

                &.active::after {
                    width: 100%;
                }
            }
        }
    }
}
