// Colors
$primary-color: #ff5e00;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

$foreground-color: #eceef1;
$panel-border-color: #434a51b0;

// Background Colors
$bg-color: #0f0f0f;
$bg-panel-color: #161b22da;

